{% extends 'base.html' %} {% block content %}

<div>
  <div class="about">
    {% if object %}
    <h1>Edit {{question.name}}</h1>
    {% else %}
    <h1>Create Question</h1>
    {% endif %}
  </div>

  <form action="" method="post" class="form">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="button" />
  </form>

  <div>
    <h2>Question Suggestions:</h2>
    <ol>
      <li>What is my favorite color?</li>
      <li>What is my favourite food?</li>
      <li>What is my favourite animal?</li>
      <li>What is my favourite movie?</li>
      <li>Who is my favourite music artist?</li>
    </ol>
  </div>
</div>

{% endblock %}
