{% extends 'base.html' %}
{% block content %}

<div class="about">
  <div>
    <h1>{{ quiz.name }}</h1>
  </div>


<div>
  <ol>
      {% for question in quiz.question_set.all %}
        <li>{{ question.get_question_display }}</li>
        <ul>
          <li>{{ question.true_answer }}</li>
          <li>{{ question.false_answer1 }}</li>
          <li>{{ question.false_answer2 }}</li>
          <li>{{ question.false_answer3 }}</li>
        </ul>
        <a href="{% url 'question_update' question.id %}">Edit</a>
      {% endfor %}
  </ol>
=======
  <div class="form">
    {% for question in quiz.question_set.all %}
      <ol>
          <li>{{ question.get_question_display }}</li>
          <a class="button"href="{% url 'question_update' question.id %}">Edit</a>
      </ol>
    {% endfor %}
  </div>
</div>

<div>
  <div class="about">
    {% if object %}
    <h1>Edit {{question.name}}</h1>
    {% else %}
    <h1>Create Question</h1>
    {% endif %}
  </div>

  <form action="" method="post" class="form">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="button">
  </form>
</div>

{% endblock %} 