{% extends 'base.html' %}
{% block content %}

<div class="about">
  <div>
    <h1>{{ quiz.name }}</h1>
  </div>



  <div class="quiz">
    {% for question in questions %}
    <ol>
      <li>{{ question.get_question_display }}</li>
      <ul>
        <li>True Answer: {{ question.true_answer }}</li>
        <li>False Answer 1: {{ question.false_answer1 }}</li>
        <li>False Answer 2: {{ question.false_answer2 }}</li>
        <li>False Answer 3: {{ question.false_answer3 }}</li>
          </ul>
          <a class="button"href="{% url 'question_update' question.id %}">Edit</a>
      </ol>
      
    {% endfor %}
  </div>
</div>


{% endblock %} 