{% extends 'base.html' %}
{% block content %}

  <div>
    <h1>All Quizzes</h1>
  </div>
  <div>
    {% for quiz in quizzes %}
      <div class="about-content"><a href="{% url 'detail' quiz.id %}">{{ quiz.name }}</a>
          {% for question in quiz.question_set.all %} 
            <p>Number of Questions: {{ quiz.question_set.all|length }}</p>
          {% endfor %}
        <a class="button"href="{% url 'quiz_update' quiz.id %}">Edit</a>
        <a class="button"href="{% url 'quiz_delete' quiz.id %}">Delete</a>
        <a class="button"href="{% url 'quiz_take_quiz' quiz.id %}">Take this Quiz!</a>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}