{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Know Me</title>
</head>
<body class="background-color">
    <div>
        <div class="hover-nav">
            <nav class="navbar">
                <a href="">Test Button</a>
                <a href="">Test Button</a>
                <a href="">Test Button</a>
                <a href="">Test Form Index</a>
                <a href="">Sign Up</a>
                <a href="">Login</a>
            </nav>
        </div>
        <main class="container">
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <div class="background-color1"></div>
    <div class="background-color2"></div>
</body>
</html>