
.navbar {
    display: flex;
    font-size: 25px;
    justify-content: flex-end;
    gap: 30px;
    padding: 20px;
    /*background-color:hsla(181, 100%, 81%, 0.971);*/
    background-image: linear-gradient(to right, hsla(181, 100%, 50%, 0.827), hsla(181, 100%, 74%, 0.982),hsla(181, 100%, 86%, 0.971));
    border-radius: 20px;
    border:  thick dotted rgb(36, 189, 181);
    margin-left: 1%;
    margin-right: 1%;
    font-family: fantasy;
    box-shadow: 0 25px 50px -12px rgb(138, 237, 255);
}

.navbar > a {
    background-color: hsl(301, 100%, 91%);
    padding: 10px;
    border-radius: 10px;
    border-block: thick dashed rgb(217, 137, 231);
    border-inline: thick dashed rgb(208, 117, 218);
    box-shadow: 0 25px 50px -12px rgb(249, 200, 253);
    text-decoration: none;
    text-shadow: 5px 5px 10px rgb(246, 192, 201);
}

.navbar > a:hover {
    border-block: thick solid rgb(223, 91, 246);
    border-inline: thick solid rgb(240, 103, 255);
    background-color: hsl(300, 39%, 93%);
    box-shadow: 0 25px 50px -12px rgb(244, 126, 255);
    transition: all 750ms ease-in-out;
    font-style: bold;
}

.navbar:hover {
    border: solid 5px;
    transition: all 1s ease-in-out;
    border-block: thick solid rgb(33, 237, 252);
    border-inline: thick solid rgb(209, 248, 255);
    background-image: linear-gradient(to right, hsla(181, 100%, 87%, 0.827), hsla(181, 100%, 74%, 0.982),hsla(181, 100%, 50%, 0.885));
}

.base {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
    width: 75%;
    font-size: 15px;
    gap: 10px;
    padding: 5px;
    /*background-color:hsla(181, 100%, 81%, 0.971);*/
    background-image: linear-gradient(to right, hsla(181, 100%, 50%, 0.827), hsla(181, 100%, 74%, 0.982),hsla(181, 100%, 86%, 0.971));
    border-radius: 20px;
    border:  thick dotted rgb(36, 189, 181);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    font-family: fantasy;
    box-shadow: 0 25px 50px -12px rgb(138, 237, 255);
    justify-content: center;

}

.footer:hover {
    border: solid 5px;
    transition: all 1s ease-in-out;
    border-block: thick solid rgb(33, 237, 252);
    border-inline: thick solid rgb(209, 248, 255);
    background-image: linear-gradient(to right, hsla(181, 100%, 87%, 0.827), hsla(181, 100%, 74%, 0.982),hsla(181, 100%, 50%, 0.885));
}

.background-color {
    background-color: antiquewhite;
    background-image: linear-gradient(90deg, hsl(300, 60%, 96%),hsl(283, 89%, 93%), hsla(186, 89%, 86%, 0.982),hsl(300, 100%, 92%),hsl(300, 70%, 95%));
    background-size: round;
}

.login{
    display: flex;
    gap: 20px;
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
}

.login-title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
    font-family: fantasy;
    color: rgb(226, 122, 139);
    text-shadow: 5px 5px 10px rgb(255, 160, 176);
}

.form {
    font-size: x-large;
    font-weight: bolder;
    font-family: fantasy;
    background-image: linear-gradient(to right, hsla(181, 100%, 50%, 0.827), hsla(181, 100%, 74%, 0.982),hsla(181, 100%, 86%, 0.971));
    padding: 20px;
    border-radius: 10px;
    border-block: thick solid rgb(217, 137, 231);
    border-inline: thick solid rgb(208, 117, 218);
    box-shadow: 0 25px 50px -12px rgb(249, 200, 253);
    text-decoration: none;
    text-shadow: 5px 5px 10px rgb(246, 192, 201);
    text-transform: capitalize;
    cursor: pointer;
    color: rgb(226, 122, 139);
    display: flex;
    justify-content: center;
    gap: 10px
}

.button {
    font-size: larger;
    font-weight: bolder;
    font-family: fantasy;
    background-color: hsl(301, 100%, 91%);
    padding: 7px;
    border-radius: 10px;
    border-block: thick solid rgb(217, 137, 231);
    border-inline: thick solid rgb(208, 117, 218);
    box-shadow: 0 25px 50px -12px rgb(249, 200, 253);
    text-decoration: none;
    text-shadow: 5px 5px 10px rgb(246, 192, 201);
    text-transform: capitalize;
    cursor: pointer;
    color: rgb(226, 122, 139);
    margin: 3px;
}

.button:hover {
    border-block: thick dashed rgb(223, 91, 246);
    border-inline: thick dashed rgb(240, 103, 255);
    background-color: hsl(300, 39%, 93%);
    box-shadow: 0 25px 50px -12px rgb(244, 126, 255);
    transition: all 750ms ease-in-out;
    font-style: bold;
}

.about {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    font-size: x-large;
    font-weight: bolder;
    font-family: fantasy;
    margin-left: 10%;
    margin-right: 10%;
    color: rgb(226, 122, 139);
}

.about-title {
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: bolder;
    font-family: fantasy;
    color: rgb(226, 122, 139);
}

.about-content {
    background-image: linear-gradient(to right, hsla(181, 100%, 50%, 0.827), hsla(181, 100%, 74%, 0.982),hsla(181, 100%, 86%, 0.971));
    padding: 20px;
    border-radius: 10px;
    border-block: thick solid rgb(217, 137, 231);
    border-inline: thick solid rgb(208, 117, 218);
    box-shadow: 0 25px 50px -12px rgb(249, 200, 253);
    text-decoration: none;
    text-shadow: 5px 5px 10px rgb(246, 192, 201);
    text-transform: capitalize;
    color: rgb(226, 122, 139);
    z-index: 1;
    animation: moveleft 2s 1;
}

.about-content:hover {
    border: solid 5px;
    transition: all 1s ease-in-out;
    border-block: thick solid rgb(33, 237, 252);
    border-inline: thick solid rgb(209, 248, 255);
    background-image: linear-gradient(to right, hsla(181, 100%, 87%, 0.827), hsla(181, 100%, 74%, 0.982),hsla(181, 100%, 50%, 0.885));
}

.container {
    display: flex;
    justify-content: center;
}

input {
    border: none;
    border-bottom: 4px solid pink;
    background-color: rgba(255, 255, 255, 0);
    font-size: large;
}

ol {
    counter-reset: item;
    margin-left: 0;
    padding-left: 0;
    margin-right:0;
    padding-right: 0;
}

ol > li {
    display: block;
    margin-bottom: .5em;
    margin-left: 2.5em;
} 

ol > li::before {
    display: inline-block;
    content: counter(item) ".";
    counter-increment:item;
    width: 2.5em;
}

@keyframes movedown {
    from {
        transform: translateY(-90%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes moveup {
    from {
        transform: translateY(90%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes moveleft {
    from {
        transform: translateX(-200%);
    }
    to {
        transform: translateX(0%);
    }
}

.navbar-anim {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.navbar-anim > .navbar{
    animation: movedown 2s 1;
}

.footer {
    animation: moveup 2s 1;
}

.form {
    animation: moveleft 2s 1;
}


.card {
    border: solid 2px;
}

.row {
    display: flex;
}